:root {
    /*основные цвета*/
    --dark: #1E1E1E;

    --light: #F8F8F8;
    --light-middle: #E1E1E1;

    --primary: #2067FF;
    --primary-hover: #E6F1FC;

    --secondary: #8B8B8B;
    --error: #EB5757;

    --radius: 15px;
}

/*задаем по умолчанию вид скролла*/
html {
  scroll-behavior: smooth;
}


/*убираем "закручивающиеся" в айфонах строки у инпутов*/
input {
  -webkit-appearance: none;
  border-radius: 0;
  appearance:none;
}

/* обнуляем все отступы "из коробки" */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.page {
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  font-family: 'Circe', Verdana, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark);
  font-weight: 400;

}

