    /*основные цвета*/
    $dark: #201E33;
    $light: #F8F8F8;
    $light-middle: #E1E1E1;
    $primary: #0C5FBA;
    $primary-hover: #E6F1FC;
    $secondary: #8B8B8B;
    $error: #EB5757;
    $succes: #289940;
    $radius: 20px;