@import '../utils/mixins';
@import '../utils/variables';

.education {
  &.main {
    gap: 0;
  }

  .education__lead-img {
    width: 100%;
    max-height: 240px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 64px;
  }

  .container {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 64px;

    .filter {
      .section-title {
        margin-bottom: 20px;
      }

      .filter__type {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 20px;
        display: block;
      }

      .filter__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
        &:first-of-type {
          margin-bottom: 50px;
        }

        .filter__item {
          .filter__input {
            display: none;
          }

          .filter__label {
            @include transition;
            @include cursor;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 15px;
            background-color: $light;
            width: fit-content;
            border-radius: $radius;

            &:hover {
              background-color: $primary-hover;
            }
          }

          .filter__input:checked ~ .filter__label {
            background-color: $primary;
            color: white;
          }
        }
      }


    }

    .mainpart {
      display: flex;
      flex-direction: column;
      row-gap: 70px;

      .card__list {
        list-style: none;
        padding: 0;
        margin: 0;

        .card__item {
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
          border-radius: $radius;
          background-color: rgb(255, 255, 255);
          overflow: hidden;
          margin-top: 10px;
          margin-bottom: 30px;

          .card {
            @include cursor;
            padding: 0;

            .card__title {
              padding: 0 24px;
              min-height: 40px;
              font-size: 20px;
            }

            .card__text {
              padding: 0 24px 24px;
              font-size: 16px;
            }

            .card__timeline {
              margin: 0 24px 24px;
              margin-top: auto;
              border-bottom: 2px solid $light-middle;

              .card__status {
                margin-bottom: 4px;
                display: block;
                font-size: 16px;
                position: relative;
                &::before {
                  position: absolute;
                  width: 16px;
                  height: 17px;
                  bottom: 2px;
                  right: 50%;
                  transform: translateX(50%); 
                  z-index: 2;
                }
              }
            }

            .card__img {
              width: 100%;
              min-width: 101%;
              height: 150px;
              max-height: 150px;
              overflow: hidden;
              background-color: $light-middle;
              max-width: 100%;

              img {
                width: 100%;
                min-height: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
              }
            }

            &:hover {
              .card__title {
                color: $primary;
              }
            }

            &:active {
              .card__title {
                color: unset;
              }
              background-color: $primary;
              color: white;
            }

            &.readed {
              .card__timeline {
                border-bottom: 2px solid $succes;

                .card__status {
                  &::before {
                    width: 16px;
                    height: 24px;
                    bottom: -2px;
                    right: 52%;
                    transform: translateX(0);
                    content: url('../../../images/icons/readed.png');
                  }
                }
              }
            }

            &.done {
              .card__timeline {
                border-bottom: 2px solid $succes;

                .card__status {
                  &::before {
                    width: 16px;
                    height: 24px;
                    bottom: -4px;
                    content: url('../../../images/icons/done.png');
                  }
                }
              }
            }

            &.process {
              .card__timeline {
                border-bottom: 2px solid $succes;
                position: relative;

                &::after {
                  position: absolute;
                  content: '';
                  width: 50%;
                  height: 2px;
                  bottom: -2px;
                  right: 0; 
                  z-index: 2;
                  background-color: $light-middle; 
                }

                &::before {
                  position: absolute;
                  content: url('../../../images/icons/finish.png');
                  width: 16px;
                  height: 14px;
                  bottom: 10px;
                  right: 0; 
                  z-index: 2;
                }

                .card__status {
                  &::before {
                    content: url('../../../images/icons/runner.png');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}